<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .container {
            background-color: bisque;
            border: 4px gray solid;
            margin:7px 3px;
            padding:7px 10px;
        }
        input:focus {
            background-color: red;
        }
    </style>
</head>
<body>
    <div id="app">
        <cart-header class="container"></cart-header>
        <shop-list v-if="!emptyBuy" :buy="items" v-on:click-buy="buyItem" class="container"></shop-list>
        <div v-else class="container">
            <h2>살 물건이 없습니다...</h2>
        </div>
        <cart-input @add-list="addList" class="container"></cart-input>
        <div class="container"> <input type="checkbox" v-model="watchBought"> <label>산 물건 보기</label></div>
        <bought-list class="container" :bought="items" v-show="watchBought" @delete-list="deleteList" @cancel-buy="cancelBuy"></bought-list>
        <cart-footer class="container"></cart-footer>
    </div>


    <script>
        const ch = {
            template: `<h1>{{title}}</h1>`,
                data() {
                return {
                        title : "Vue Cart"
                    }
                }
            };
        const sl = {
                template: `
                <div>
                    <h2>살 물건들</h2>
                    <ul>
                        <li :style="{marginBottom:'4px'}" v-for="item in buy" v-if="!item.buy">{{item.name}} 
                            <button @click="() => {clickBuy(item)}" :style="{float:'right'}">구매</button>
                        </li>
                    </ul>
                </div>`,
                props: ["buy"],
                methods : {
                    clickBuy(item) {
                        this.$emit('click-buy', item)
                    }
                }

            };
        const ci = {
                template: `
                    <form @submit.prevent='addList'><input v-model="toAdd">
                        <button>추가</button>
                    </form>`,
                data() {
                    return {
                        toAdd:''
                    }
                },
                methods : {
                    addList() {
                        if (!this.toAdd.trim()) {
                            alert('추가할 아이템 이름을 입력해 주세요!');
                            console.log(event.target.children[0].focus());
                            return;
                        }
                        this.$emit('add-list', this.toAdd);
                        this.toAdd='';
                        
                        
                    }
                } 
            };
        const bl = {
                template: `
                    <div>
                        <h2>산 물건들</h2>
                    <ul >
                        <li :style="{marginBottom:'4px'}" v-for="item in bought" v-if="item.buy">{{item.name}}
                            <button :style="{float:'right'}" @click="() => {deleteList(item.name)}">삭제</button>
                            <button :style="{float:'right'}" @click="() => {cancelBuy(item.name)}">취소</button>
                        </li>
                    </ul>
                    </div>
                `,
                props:{
                    bought:Array
                },
                methods : {
                    deleteList(name) {
                        this.$emit('delete-list', name);
                    },
                    cancelBuy(name) {
                        this.$emit('cancel-buy', name);
                    }
                }
            };
        const cf = {
                template: `<p>&copy; Bit Academy</p>`
            };



        const app = new Vue({
            el : "#app",
            components : {
                CartHeader : ch,
                ShopList : sl,
                CartInput : ci,
                BoughtList:bl,
                CartFooter:cf
            },
            data : {
                items : [
                    {name : "무", buy:false},
                    {name : "배추", buy:false},
                    {name : "쪽파", buy:true},
                    {name : "고춧가루", buy:false},
                ],
                watchBought: false,
                dataFunction() {
                    console.log(this);
                } // This Scope가 전역 객체인 Window로 설정되어 있다.
            },
            methods : {
                buyItem(item) {
                    this.items =  this.items.map(origin =>
                        origin.name === item.name ? { ...origin, buy: true } : origin
                    );
                },
                addList(name) {
                    
                    if(this.items.find(item => item.name===name)) {
                        alert('이미 등록된 물건입니다.');
                        return false;
                    }
                    this.items.push({name,buy:false});
                },
                deleteList(name) {
                    
                    this.items = this.items.filter(item => item.name !== name);
                },
                cancelBuy(name) {
                    this.items = this.items.map(origin =>
                        origin.name === name ? { ...origin, buy: false } : origin
                    );
                }
            },
            computed : {
                emptyBuy() {
                    return this.items.filter(item => !item.buy).length === 0;
                }
            }
            
        })

        

    </script>
</body>
</html>